@page	{
	size: 6.25in 9.25in;
}
@page :left	{ margin-left: var(--gutter); }
@page :right{ margin-right: var(--gutter); }
:root {
	--gutter:			0.2in;
	--bleed:			0.125in;
	--margin:			0;
	--pagenumber:		0.3in;
	--inside-margin:	1rem;
	--inside-half:		calc(var(--inside-margin) / 2);
	--edge-top:			8.2em;
	--edge-year:		6em;
	--section-padding:	0.8rem;
}

.template	{ display: none; }
p			{ margin: 0.25in; }
img			{ width: 100%; border: thick double #004a88; margin: 0; break-after: always; box-sizing: border-box; }
h1			{ font-family: "Tally Text 1"; font-size: 7em; margin: 0 0.5em 0.5em; padding: 0.8em 0 0.2em; font-weight: bold; color: #004a88; border-bottom: thin solid #004a88; }
h1:first-of-type	{ text-align: center ! important; }

html		{ margin: 0 var(--bleed); } /* this can handle left-right bleed, but not top-bottom */
body		{ margin: 0; padding: 0 var(--margin); }
.odd body	{ margin-left: var(--gutter); }
.even body	{ margin-right: var(--gutter); }
.odd h1		{ text-align: right; }
.even h1	{ text-align: left; }

*		{ -webkit-print-color-adjust: exact; color-adjust: exact; }

body	{ font-size: 0.5em; }

.Flourish			{ color: hsl(var(--hue), 19%, 90%); fill: currentColor; }
html				{ background-color: hsl(var(--hue), 33%, 97%); }

.Flourish			{ width: calc(100% - 2 * var(--bleed)); position: fixed; z-index: -1; left: var(--bleed); top: var(--bleed); }
.Flourish + .Flourish	{ top: calc(100vw - var(--bleed)); }

#count-0			{ font-size: 1rem; }
